/* GENERAL CSS */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


.primary-color{
	background-color: #121B2a;
}
.secondary-color{
	color: #0078BF;
}
/* HEADER CSS */

#header{

}

.container{
	width: 80%;
	margin: 0 auto;
	overflow:hidden;
	/* border: 1px solid white; */
}
.logo{
	display: inline-block;
	float: left;
	height: 80px;
	/* border: 1px solid red; */


}
.logo img{
	width: 100%;
	height: 100%;
}
.menu{
	display: inline-block;
	float: right;
	/* border: 1px solid red; */
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 0 30px;
	display: block;
	margin-top: 45px;
	text-transform: uppercase;
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease; 
	
}
.menu ul li a:last-child{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #0078BF;
}

/* BANNER CSS */

#banner{
	background-image: url(../img/edge-banner.png);
	background-color: rgba(121,107,96,.5);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height:400px;
}

.banner-content{
	width:50%;
	margin-top:200px;
	margin-bottom:80px;
}
.banner-title{

}
.banner-title h3{
	margin-bottom: 10px;
	font-size: 40px;
	font-weight:400;
	font-family: sans-serif;
	color: #fff;
}

.banner-title h1{
	margin-botton:5px;
	font-family:sans-serif;
	font-size:50px;
}

.banner-description{

}
.banner-description p{
	font-family:sans-serif;
	font-size:16px;
	line-height:25px;
	color:#fff;
	margin-bottom:5px;
}

.banner-content button{
	background-color: #fff;
	border: 0;
	padding: 4px 9px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
}
.banner-content button img{
	width:15px;
}

/* Services Section */

.services{
	background-color: #121B2a;
	padding: 40px 0;
}

.services .service{
	width: 30%;
	float: left;
	border-right: 1px solid #938989;
	margin-right: 30px;
	padding-right: 15px;
}
.services .service:last-child{
	border-right: none;
}

.services .service .service-header{
	overflow: hidden;
}

.services .service .service-header .service-header-icon{
	width: 30%;
	/* border: 1px solid white; */
	float: left;	
}
.services .service .service-header .service-header-icon img{
	width: 100%;
}

.services .service .service-header .service-header-content{
	width: 65%;
	/* border: 1px solid white; */
	float: left;
	margin-top: 20px;
}

.services .service .service-header .service-header-content h1{
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	font-family: sans-serif;
	color: #fff;
}
.services .service .service-header .service-header-content h2{
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	font-family: sans-serif;
}
.services .service .service-body{

}
.services .service .service-body p{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	margin-bottom: 5px;
}

/* Extra Information */

.extra-information{
	background-color: #0a0e15;
	padding: 40px 0;
}

.extra-information .contact{
	width: 22%;
	float: left;
	padding: 20px 20px;
	margin-right: 45px;
}
.extra-information .contact h2{
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 400;
	font-family: sans-serif;
	color:#ffffff;
}

.extra-information .contact .contact-description{

}
.extra-information .contact p.contact-description{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 15px;
}

.extra-information .contact .digital-address{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 5px;
}

.extra-information .testimonials{
	width: 30%;
	float: left;
	position: relative;
	margin-right: 20px;
}

.extra-information .testimonials .testimonial-content{
	-webkit-box-shadow: 0px 1px 5px -1px rgba(51,64,71,1);
	box-shadow: 0px 1px 5px -1px rgba(51,64,71,1);
	padding: 20px 20px;
	background-color: rgba(51,64,71,1);
	border-radius: 2%;
}

.extra-information .testimonials .testimonial-content .testimonial-header{
	margin-bottom: 10px;
}
.extra-information .testimonials .testimonial-content .testimonial-header h2{
	font-size: 25px;
	font-weight: 400;
	font-family: sans-serif;
	color: #ffffff;
}
.extra-information .testimonials .testimonial-content .testimonial-body{
	margin-bottom: 10px;
}
.extra-information .testimonials .testimonial-content .testimonial-body p{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 15px;
}
.extra-information .testimonials .testimonial-talk-bubble
{
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 65px solid rgb(51, 64, 71);
	border-bottom: 30px solid transparent;
	position: absolute;
	right: 80px;
}
.extra-information .testimonials .testimonial-author{
	padding: 20px 20px;
}
.extra-information .testimonials .testimonial-author h4{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 5px;
}
.extra-information .testimonials .testimonial-author p{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin-bottom: 5px;
}

/* Mobile Apps */

.extra-information .mobile-apps{
	width: 40%;
	float: left;
	overflow: hidden;
}
.extra-information .mobile-apps .mobile-img{
	float: left;
}
.extra-information .mobile-apps .mobile-img img{

}
.extra-information .mobile-apps .mobile-apps-name{
	float: left;;
}
.extra-information .mobile-apps .mobile-apps-name h3{
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	font-family: sans-serif;
	color: #fff;

}
.extra-information .mobile-apps .mobile-apps-name h2{
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	font-family: sans-serif;
}

.extra-information .mobile-apps .app-store{
	float: left;
	width: 35%;
}
.extra-information .mobile-apps .app-store img{
	width: 100%;
}

/* Footer */

.footer-menu{
	display: inline-block;
	float: left;
	/* border: 1px solid red; */
}
.footer-menu ul{
	float: left;
}
.footer-menu ul li{
	float: left;
}
.footer-menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	padding: 0 30px;
	display: block;
	margin-top: 45px;
	margin-bottom: 10px;
	text-transform: uppercase;
	-webkit-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease; 
	
}
.footer-menu ul li a:last-child{
	padding-right: 0;
}
.footer-menu ul li a:hover{
	color: #0078BF;
}

.footer-menu h3{
	color: white;
	font-size: 15px;
	padding-left: 30px;
	display: block;
}