
/* GENERAL */

.container{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 80%;
	grid-template-columns: 80%;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}

.primary-color{
	color: #00aeef
}
/* HEADER SECTION */
header{
	color:#fff;
	background-color: #343a40;
}

header a.logo{
	float: left;
	height: 112px;
}
header a.logo img{
	height: 100%;
}

/* NAVIGATION MENU */
nav .row{
	background-color: #343a40
}
nav#menu{
	text-align: center;
	font-weight: bold;
	height: 112px;
	line-height: 112px;
	margin-top: 20px;	
}

nav#menu ul li{
	padding-left: 35px;
}

nav#menu ul li:first-child{
	padding-left: 0;
}

nav#menu ul li a{
	color:#fff;
}

nav#menu ul li a:hover{
	text-decoration: none;
	color: #00aeef;
}

/* BANNER SECTION */

.banner-area{
	display: -ms-grid;
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	height: 600px;
	width:100%;
	text-align: center;
	color:#fff;
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0, 0, 0, 0.5)) ),url('../img/lab.jpg') no-repeat center center fixed;
	background: -webkit-linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('../img/lab.jpg') no-repeat center center fixed;
	background: -o-linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('../img/lab.jpg') no-repeat center center fixed;
	background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('../img/lab.jpg') no-repeat center center fixed;
	background-size: cover;
}

.banner-area h1{
	font-size:36px;
}

/* NEWS SECTION */

.news .row{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2fr;
	grid-template-columns: 1fr 2fr;
}