/* HEADER SECTION */

header{
	width: 100%;
	height: 112px;
	line-height: 112px;
	color: #fff;
	background-color: #343a40; 
}

header a.logo{
	float: left;
	height: 112px;
}

header a.logo img{
	height: 100%;
}

header nav#menu{
	text-align: center;
	font-weight: bold;
	background-color: #343a40	
}

header nav#menu ul li{
	padding-left: 35px;
}

header nav#menu ul li:first-child{
	padding-left: 0;
}

header nav#menu ul li a{
	color:#fff;
}

header nav#menu ul li a:hover{
	text-decoration: none;
	color: #00aeef;
}

/* Container */

.container{
	width:1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container::before,.container::after,.row::before,.row::after{
	display: table;
	content: '';
}

.row{
	margin-right: -15px;
	margin-left: -15px;	
}

.container::after,.row::after{
	clear: both;
}

.section{
	display: block;
}
